
@media screen and ( max-width: 1400px ) {
    body {
        font-family: "Lucida Grande";
        color: #555555;
        background-color: #FAFAFA;   
        min-width: 500px;
    }
 }

li {
    list-style: none;
}


.header{
    background-color: #FAFAFA;
    min-height: 80px;
    min-width: 500px;
}

.header-logo img {
    float: left;
    display: flex;
    width: 120px;
    padding: 24PX 32PX 24PX 40PX;
    }

.header-icon-search img {
    float: right;
    width: 24px;
    height: 24px;
    padding: 24PX 16PX 24PX 8PX;
}

.header-icon-mail img{
    float: right;
    width: 25px;
    height: 25px;
    padding: 24PX 16PX 24PX 8PX;
}

.header-icon-ham img{
    float: right;
    width: 24px;
    height: 24px;
    padding: 24PX 40PX 24PX 8PX;
}


.format label {
    display:　inline-block;
    font-size: 16px;
    font-weight: bold;
}

input,
label {
    margin: 12px 10px 0px 10px;
    text-align: left;
    padding: 8px 24px 8px 24px;
    background: #FFFFFF;
    border: 1px solid #555555;
    border-radius: 56px;
    min-width: 10%;
    width: 20%;
    height: 24px;
}

.main{
    background-color: #FFFFFF;
    height: 2000px;
    width: 100%;
    }
    
.main-copy h2 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding: 48px 24px 24px 24px;
    margin: 0px;
}

.post-content-div {
    width: 448px;
    display: flex;
    background-color: #FFFFFF;
    margin:0 auto;
    /* padding: 8px 0px 8px 0px; */
}


.post img {
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 50%;  
    width:  80px;       
    height: 80px;   
    padding: 8px 0px 8px 0px;
}

.post h4{
    display: inline-block;
    vertical-align: top; 
    padding-left: 8px;
    max-width: 350px;

   }


.submit-button input{
    margin: 16px 24px 8px 24px;
    text-align: center;
    padding: 8px 24px 8px 24px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #E30246;
    border: 0px;
    opacity: 1;
    width: 200px;
    height: 48px;
}

.cap {
    display: block;
    font-family: "Lucida Grande";
    font-size: 12px;
}

a {
    color: #E30246;
}


