@media screen and ( max-width: 1400px ) {
    body {
        font-family: "Lucida Grande";
        color: #555555;
        background-color: #FFFFFF;   
        min-width: 448px;
    }
}

 .header{
    background-color: #FAFAFA;
    height: 80px;
    min-width: 448px;
  }

img {
    display: block;
    margin: auto;
    width: 160px;
    padding: 24PX 24PX 24PX 24PX;
}

.main{
    background-color: #FFFFFF;
    width: 100%;
}
  
.main-copy h2 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding: 48px 24px 24px 24px;
    margin: 0px;
}

.format-main-content-div {
    text-align: center;
    /* max-width: 448px;
    display: flex;
    background-color: #FFFFFF;
    margin:0 auto;   
    flex-direction: row;
    justify-content: space-around; */
}

.format label {
    display: block;
    font-family: "Lucida Grande";
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

input,
label {
    margin: 10px 10px 10px 10px;
    text-align: left;
    padding: 8px 24px 8px 24px;
    background: #FFFFFF;
    border: 1px solid #555555;
    border-radius: 56px;
    min-width: 320px;
    max-width: 40%;
    height: 24px;
}

.submit-button input{
    margin: 16px 24px 8px 24px;
    text-align: center;
    padding: 8px 24px 8px 24px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #E30246;
    border: 0px;
    opacity: 1;
    max-width: 200px;    
    min-width: 10%;
    height: 48px;
}

.cap {
    display: block;
    text-align: center;
    font-family: "Lucida Grande";
    font-size: 12px;
    color: #757575;
}

a {
    color: #E30246;
}